
/*Nav styles*/
.profile-wrap{
    justify-content: center;
    align-items: center;
    object-fit: contain;
    background-size: cover;

   
}
.curved-top {

    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}
.navb-btn{
    border: hidden;
    padding: 5px;
    border-radius: 10px;
    outline: hidden;
}
/*profile section */
.profile-general{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}
.pic-div{
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-general img{
    width: 65%;
    margin:auto;
    border-radius: 50%;
}


.profile-name button{
    margin-right: 10px;
    border: hidden;
    border-radius: 10px;

}
.profile-name button:hover{
    background: pink;
    width: 50px;
}
/* skills section*/
.skills-sectionl{
    padding: 20px;
}
/*contact info section*/
.contact-outer-div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.t-data td{
    padding-left: 8px;
}

/* skills styling*/
.skills-lu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*projects-section*/
.projects-section{
    padding: 20px;
}

.projects-section img{
    width: 100%;
  
}

.project-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.b-shad{
    box-shadow: 2px 5px;
    margin-bottom: 20px;
}
/*footer*/
.footer{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

h1{
    font-size: 28px !important;
    font-weight: bolder;
    text-decoration-color: blue !important;
   
}

h4{
  
    font-size: 20px !important;
    padding-top: 4px;
}
a{
    margin-left: 10px;

    text-decoration: none !important;
    font-size: 18px;
    color: black !important;

}
a:hover{
    color: orange !important;
}



@media only screen and (max-width: 770px) {
    .profile-name {
      align-items: center;
      justify-content: center;
      justify-items: center;
      padding-left:30%;
    }
  }